<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="/scriptAndLink/_head :: head"></th:block>
		
	  	<title>403-FORBIDDEN</title>
	</head>
	
	<body>
		<div class="jumbotron text-center">
	    	<h1>403-FORBIDDEN</h1>      
		</div>
		<div class="container">
  			<div class="row">	
  				<div class="col-sm-3"> </div>
  				
  				<div class="col-sm-6">
  					<div class="h3">
	  					<span style="color: red;"> Hello &nbsp; </span>
	  					<span th:if="${username != null}" th:utext="${username}" style="color: blue;"></span> 
	  					<p style="color: red;"> You do not have permission to access this page!" </p>
  					</div>
  					
  					<div>
  						<a href="/"> <button type="button" class="btn btn-secondary"> Back to home page</button> </a>
  					</div>	
				</div>
				
					
				<div class="col-sm-3"> </div>
  			</div>
		</div>
	</body>
</html>